#form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    margin: 2em auto;
    border-radius: 5px;
    box-shadow: var(--shadow);
    gap: 1.5em;
    padding: 1em;
    background-color: var(--clr-tertiary);
    max-width: min(50em, 90%);
}

#form .section-head {
    padding-block: 1.3em .7em;
}

#form .section-head::after, #form .section-head::before {
    content: '';
    display: table;
    clear: both;
}


#form h2 {
    float: left;
    /* margin-block: 1.3em .7em; */
    font-size: 1.3em;
}

#form .section-head button {
    float: right;
    border: 2px solid var(--clr-accent);
    border-radius: 3px;
    padding: .3rem 1em;
    color: var(--clr-accent);
    transition: all .4s;
}

#form .section-head button:hover {
    cursor: pointer;
    background-color: var(--clr-accent);
    color: var(--white);
}

#form .section-head button:active {
    scale: .9;
}

form input:is([type='text'], [type='email']) {
    display: block;
    width: 100%;
    margin-block: .4rem;
    border: 0;
    padding: .7em;
    border-radius: 7px;
    font-size: .9rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

form label.file {
    display: block;
    position: relative;
    width: 100%;
    margin-block: .4rem;
    /* border: 1px solid black; */
    border-radius: 7px;
    isolation: isolate;
    background-color: var(--white);
    overflow: hidden;
}

form label.file span.button {
    display: inline-block;
    padding: .7em;
    background-color: var(--grey-400);
    color: var(--white);
}

form label.file span.button:hover {
    background-color: var(--grey-300);
    cursor: pointer;
}

form label.file span.button:active {
    background-color: var(--grey-200);
}

form label.file input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    z-index: -1;
    visibility: hidden
}

form label.file span.file-name {
    padding: .7em;
    display: inline-block;
}

form div:is(.skill, .language, .work-experience, .education) {
    margin-bottom: 2em;
    padding: 1em;
    background-color: var(--grey-800);
    border-radius: 5px;
}

form .range {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: .9rem;
    border-radius: 40px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #edf1f4);
    box-shadow: 15px 15px 20px rgba(0, 0,  0, 0.1), -15px -15px 10px rgba(255, 255, 255, .3);
}

form .range .slider {
    appearance: none;
    width: 90%;
    height: 15px;
    background-color: #edf1f4;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0,  0, 0.1), -5px -5px 10px rgba(255, 255, 255, 1), 5px 5px 5px inset rgba(0, 0,  0, 0.1);
    outline: 0;
    overflow: hidden;
}

form .range .slider::-moz-range-thumb {
    appearance: none;
    border: 2px solid var(--clr-accent);
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -407px 0 0 400px var(--clr-accent);
    cursor: pointer;
}

form .range .slider::-webkit-slider-thumb {
    appearance: none;
    border: 2px solid var(--clr-accent);
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -407px 0 0 400px var(--clr-accent);
    cursor: pointer;
}

form .range output {
    text-align: center;
    width: 4rem;
    font-size: .9em;
    padding-block: .2em;
    color: var(--white);
    background-color: var(--clr-accent);
    border-radius: 25px;
    margin-left: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0,  0, 0.1), -5px -5px 10px #fff, 5px 5px 10px inset rgba(0, 0,  0, 0.1), -5px -5px 10px inset rgba(255, 255, 255, .25);
}

form .date {
    margin-block: .4em;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    overflow: auto;
}

form .date ~ button.delete {
    margin-top: .4rem;
}

form .date label {
    display: inline-block;
    background-color: var(--clr-accent);
    padding: .6em;
    color: var(--white);
}

form input[type='date'] {
    background-color: white;
    padding-inline: 1em;
    border: 0;

}

form input[type='date']::-webkit-calendar-picker-indicator{ 
    cursor: pointer;
}

form section button.delete {
    color: var(--clr-dark);
    margin-top: 1rem;
    padding: .5rem .8rem;
    /* background-color: var(--white); */
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: .8rem;
}