.avatar {
    position: relative;
}

.avatar > img {
    width: 100%;
    height: auto;
}

.avatar > p {
    position: absolute;
    font-size: 2.3rem;
    bottom: .6em;
    left: 1em;
}

aside .inner {
    padding-inline: 1.2em;
}

aside .inner .info ul{
    list-style-type: none;
}

aside .inner .info ul li {
    margin: 1em 0;
    color: var(--clr-primary);
}

aside .inner .info ul li > * {
    vertical-align: middle;
}

aside .inner .info ul li img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
}

aside .inner hr {
    color: rgba(0, 0, 0, 0.1);
    margin: 1.7em 0;
}

aside .inner h2 {
    font-size: 1.2rem;
    /* color: var(--clr-secondary); */
}

aside .inner h2 > * {
    vertical-align: middle;
}

aside .inner h2 img {
    width: 1.5em;
    height: 1.5em;
    margin-right: .9rem;
}

aside .inner .rating p:first-child {
    margin: 1em 0;
    color: var(--clr-primary);
    font-size: .9rem;
}

aside .inner .rating .level{
    background-color: var(--clr-tertiary);
    border-radius: 1rem;
    line-height: 1.5rem;
}

aside .inner .rating .level > div {
    width: 50%;
    border-radius: inherit;
    background-color: var(--clr-accent);
    text-align: center;
    color: var(--white);
    font-size: .8em;
} 