#app .cv-preview {
  display: grid;
  gap: 1em;
  padding: 1em;
}

.cont {
  background-color: var(--white);
  box-shadow: var(--shadow);
}

@media print, screen and (min-width:45rem) {
  #app .cv-preview {
    grid-template-columns: 1fr 2fr;
  }
}